
.indigo 		{	background-color: #54127C;}
.sandy-brown 	{	background-color: #F79F57;}
.white 			{	background-color: #FEFEFE;}
.whiskey-sour 	{	background-color: #DA8D4E;}
.deep-blush 	{	background-color: #E56B8A;}
.fuchsia 		{	background-color: #B13BAE;}
